[Unit]
Description=FRR Exporter
After=network.target frr.service

[Service]
Type=simple
ExecStart=/usr/local/bin/frr_exporter
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
